{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron mt-4">
    <h1 class="display-4">SOEN 342 Project</h1>
    <h2 class="lead">Sanjay Thambithurai - 40184405</h2>
    <h2 class="lead">Alexander Kepekci - 40113003</h2>
    <hr class="my-4">
    <p>Please log in or register to continue.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg mr-2" href="{{ url_for('auth.login') }}" role="button">Login</a>
        <a class="btn btn-success btn-lg" href="{{ url_for('auth.register') }}" role="button">Register</a>
    </p>
</div>
{% endblock %}
