{% extends 'base.html' %}

{% block title %}Add Dependent{% endblock %}

{% block content %}
<div class="mt-4">
    <h2 class="text-center">Add Dependent</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control", placeholder="Enter dependent's name") }}
                    {% if form.name.errors %}
                        <small class="text-danger">{{ form.name.errors[0] }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.date_of_birth.label(class="form-label") }}
                    {{ form.date_of_birth(class="form-control") }}
                    {% if form.date_of_birth.errors %}
                        <small class="text-danger">{{ form.date_of_birth.errors[0] }}</small>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">{{ form.submit.label.text }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
