<!-- templates/admin/create_lesson.html -->
{% extends 'base.html' %}

{% block title %}Create Lesson{% endblock %}

{% block content %}
<h2>Create New Lesson</h2>
<form method="post">
    {{ form.hidden_tag() }}

    {{ form.lesson_type.label }}<br>
    {{ form.lesson_type() }}<br>
    {% for error in form.lesson_type.errors %}
        <span class="error">{{ error }}</span><br>
    {% endfor %}

    {{ form.location.label }}<br>
    {{ form.location() }}<br>
    {% for error in form.location.errors %}
        <span class="error">{{ error }}</span><br>
    {% endfor %}

    {{ form.mode.label }}<br>
    {{ form.mode() }}<br>
    {% for error in form.mode.errors %}
        <span class="error">{{ error }}</span><br>
    {% endfor %}

    <!-- Add other form fields similarly -->

    {{ form.submit() }}
</form>
{% endblock %}
